@charset "utf-8";
a{
    cursor: pointer;
}
/*头部 图片广告*/
.bg{
    width: 100%;
    background-color: rgb(228,57,41);
}
.picBox{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.goShopping{
    cursor: pointer;
}
.adPic{
    display: inline-block;
    margin-left: -460px;
}
.pic1{
    margin-top: 30px;
}
/*注册框信息
*/
/*主体 背景图*/
main{
    position: relative;
    width: 100%;
    background-color: #f8f8f8;
}
.mainBox{
    width: 1000px;
    height: 530px;
    margin: 0 auto;
    position: relative;
}
.bgPic{
    width: 100%;
    height: 520px;
    background: url("../images/123.png") no-repeat;
    background-position-y: 170px;
}
/*注册框头部*/
.regBox{
    width: 350px;
    position: absolute;
    top: 47px;
    right: 0px;
    background-color: white;
}
.headBg{
    height: 53px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.headBox {
    line-height: 53px;
    margin:0 auto;
    width: 270px;
}
.headBox p:first-child{
    color: #e31436;
    font-weight: bold;
}
.headBox p:last-child{
    font-size: 12px;
    cursor: pointer;
}
.headBox a{
    color: #51b8f1;
}
.headBox a:hover{
     text-decoration: underline;
}

/*注册框main*/
.regMain{
    width: 270px;
    height: 260px;
    margin: 50px auto 0;
    display: none;

}
.message{
    border: 0;
    float: right;
    margin-top:-36px;
 }
.message p:nth-child(1){
    vertical-align: middle;
}
.message a:nth-child(2){
    color: #666;
    font-size: 12px;
    margin-top: 5px;
    display: inline-block;
}
.message:hover  .eml{
    background-position: 0 -95px;
}
.message:hover  .meg{
    background-position: 0 -110px;
}
.message:hover a{
    color: #e31436;
}
.regMain div{
    width: 270px;
    height: 36px;
    border: 1px solid #c5cddb;
    margin-bottom: 18px;
    border-radius: 2px;
    position: relative;
}

input{
    border: 0;
}
.regMain input{
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #666;
    margin-top: 2px;
    margin-left: 10px;
}
.eml{
    cursor: pointer;
    float: left;
    margin: 6px 0  0 8px;
    width: 18px;
    height: 16px;
    background: url("../images/ursicon.png") no-repeat;
}
.bgs{
    float: left;
    margin: 8px 0  0 8px;
    width: 18px;
    height: 22px;
    background: url("../images/ursicon.png") no-repeat;

}
.tel{
    background-position: -36px -34px;
}
.emlPic{
    background-position: 0px -34px;
}
.pass{
    background-position: -68px -34px;
}
.con{
    width: 84px;
    height: 34px;
    position: absolute;
    top:0px;
    right:0px;
    line-height: 36px;
    text-align: center;
    background-color: #eee;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}

.f2:hover{
    color: #e31436;
    background-color: #f6f6f6;
}
.btnOn{
    border: 0;
    width: 270px;
    height: 36px;
    background-color: #e31436;
    color:white;
    text-align: center;
    border-radius: 2px;
    line-height: 36px;
    font-size: 14px;
    cursor: pointer;
}
.btnOn:hover{
    background-color: #f5345e;
}
.show{
    width: 270px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.choose{
    background: url("../images/lo.png") no-repeat;
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    background-position: -330px -92px;
}
.noL{
    height: 16px;
    padding-left: 8px;
    font-size: 12px;
    color: #999;
    line-height: 17px;
    cursor: pointer;
}

.pro{
    cursor: pointer;
    color: #999;
    font-size: 12px;
    line-height: 16px;
}
.noL:hover{
    color: #e31436;
}
.pro:hover{
    color: #e31436;
}

/*手机登录框信息
*/
.headBg li{
    width:174px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.headBg li:nth-child(1){
    color: #e31436;
}
.headBg span{
    position: absolute;
    top: 17px;
    left: 175px;
    width: 0px;
    height: 20px;
    border-right: solid 1px #ddd;
}
li:hover{
    color: #e31436;
}

.mainBottom{
    width: 350px;
    height: 44px;
    padding: 10px 40px;
    border-top: 1px solid #ddd;
    background-color: #f8f8f8;
    font-size: 14px;
}
.mainBottom li{
    float: left;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    cursor: pointer;
}
.shows{
    display: none;
}
.a1:hover > .shows{
    display: block;
}
.a2:hover > .shows{
    display: block;
}
.a3:hover > .shows{
    display: block;
}
.a4:hover > .shows{
    display: block;
}
.a1{
    background: url("../images/icon1.png") no-repeat;
    background-position: -760px -401px;
}
.a2{
    background: url("../images/icon1.png") no-repeat;
    background-position: -792px -401px;
}
.a3{
    background: url("../images/icon1.png") no-repeat;
    background-position: -824px -401px;
}
.a4{
    background: url("../images/icon1.png") no-repeat;
    background-position: -856px -401px;
}
.quick{
    width: 105px;
    color: #e31436;
    line-height: 22px;
    cursor: pointer;
}
.quick:hover{
    text-decoration: underline;
}
.nextP{
    width: 14px;
    height: 26px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    background: url("../images/icon1.png") no-repeat;
    background-position: -899px -401px;
}
.active{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/lo.png") no-repeat;
    background-position: -147px -89px;
    vertical-align: middle;
    cursor: pointer;
}
.errorMes{
    height: 12px;
    color: red;
    font-size: 12px;
    margin-bottom: 9px;
}
.errorMes i{
    vertical-align: middle;
    width: 18px;
    height: 15px;
    display: inline-block;
    background: url("../images/lo.png") no-repeat;
    background-position:-217px -34px;
}

/*短信登录框*/
.meg{
    cursor: pointer;
    float: left;
    margin: 7px 0 0 8px;
    width: 18px;
    height: 16px;
    background: url(../images/ursicon.png) no-repeat;
    background-position: 0px -15px;
}
.megBox{
    width: 350px;
    height: 407px;

    background-color: white;
}
.megMain{
    width: 270px;
    height: 200px;
    margin: 50px auto 0;
    display: none;

}
.megMain input{
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #666;
    margin-top: 2px;
    margin-left: 10px;
}
.megMain div{
    width: 270px;
    height: 36px;
    border: 1px solid #c5cddb;
    margin-bottom: 18px;
    border-radius: 2px;
    position: relative;
}


/*邮箱登录框信息*/
.emlBox{
    width: 350px;
    height: 225px;
    display: none;
    background-color: white;
}
.emlMain{
    width: 270px;
    margin:  0 auto;
}
.emlMain div{
    width: 270px;
    height: 36px;
    border: 1px solid #c5cddb;
    margin-bottom: 18px;
    border-radius: 2px;

}
.emlMain input{
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #666;
    margin-top: 2px;
    margin-left: 10px;
}
.emlMain div:first-child{
    margin-top: 20px;
}
/*显示与隐藏class*/
.showN{
    display: block;
}



/*底部*/
/*导航部分*/
footer{
    width: 90%;
    min-width: 1100px;
    margin: 0 auto;
}
.nav{
    width: 1200px;
    margin: 50px auto 15px;
}
.nav li{
  float: left;
    color: #666;
    height:14px ;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
    padding: 0 26px;
    border-right: 1px solid #666;

}
.nav li:last-child{
    border-right: 0;
}
.nav li:hover{
    color: #c2c2c2;
}

/*许可证*/
.licenseBox{
    width: 690px;
    margin:  0 auto;
}
.licenseBox span{
    color:#999;
    font-size: 12px;
}
.licenseBox span:nth-child(2){
    margin: 0 45px 0;
}
.licenseBox span a{
    color:#666;
    cursor: pointer;
}
.licenseBox span a:hover{
    color: #c2c2c2;
}
.licenseBoxM{
    width: 435px;
    margin: 10px auto;
}
/*底部第二行*/
.licenseBoxM img{
   vertical-align: middle;
}
.licenseBoxM span{
    color:#999;
    font-size: 12px;
}
.licenseBoxM span:nth-child(2){
    margin-left: 5px;
    margin-right: 25px;
}
.licenseBoxM span:nth-child(2):hover{
    color: #c2c2c2;
}

.licenseBoxB{
    width: 160px;
    margin:0 auto;
}
.licenseBoxB a:hover{
    z-index: 10;
    color: #666;
}
.licenseBoxB a:nth-child(1) img{
    width: 80px;
    height: 30px;
}
.licenseBoxB a:nth-child(2) img{
    height: 30px;
    margin-left: 8px;
}


/* 遮罩层样式 */
#shade{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition:  0.3s ease-in;
}
/*弹出框*/
#popupBox{
    width:500px;
    height: 260px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 2px 3px #adadad;
    text-align: center;
    padding: 30px;
    position: absolute;
    left:50%;
    top:40%;
    margin-top: -100px;
    margin-left: -250px;
    z-index: 100;
}
#popupBox>p{
    font-size: 20px;
    color: #a58505;
    padding-top: 50px;
}
button#btn{
    width:120px;
    height: 50px;
    border:1px solid #ddd;
    font-size: 18px;
    color:#fff;
    position: absolute;
    bottom: 50px;
    left:50%;
    margin-left: -60px;
    border-radius: 5px;
    background-color: #1e9ee9;
}
button#btn:hover{
    background-color:#60c4ff;
}
